body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(104, 243, 104);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h3 {
    color: #555;
    text-align: center;
}

textarea {
    border: none;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 15px;
    width: 50%;
    height: 100px;
    margin: 10px 0;
}
.tags {
    margin: 10px 0 0;
}
.tag {
    background-color: rgb(255, 255, 25);
    border-radius: 10px;
    padding: 7px 13px;
    margin: 0 7px;
}

.highLight {
    background-color: #555;
}

@media screen and (max-width: 468px){
    textarea {
        width: 100%;
    }
}
